table{
    table-layout: fixed;
}
body{
   /*  background-color: aliceblue; */
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.container{
    font-style: inherit;
    font-size: 30px;
}

a{
    text-decoration: none;
    color: white;
}

.screen {
    text-decoration:none;
	border: 2px solid #007bff;
    color:black;
    background-color: #007bff;
    color: white;
    margin-bottom: 30px;
}

#add{
    height: 120px;
}

button
{
    background-color:rgb(0, 55, 128);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    color: white;
}

button:hover{
    height:40px;
    width:90px;
}

.screen a:hover{
	background-color:blue;
	border: 2px solid blue;
    color: white;
    padding: 7px;
}
/* .animate img{
    
} */
.animate img:hover{
    width: 330px;
    height: 280px;
}
.detail{
    font-size: 16px;
}

.cont{
    background-color: rgb(0, 55, 128) ;
    width:400px;
    border: black;
}

.contact{
    font-size: 22px;
}

.card{
    margin-left: 300px
}

.card input{
    height: 50px;
    width: 550px;
}

input,
textarea {
    display: block;
    font-size: 24px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
    color: black;
}

.foot{
    background-color: #007bff;
    color:white;
}